*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    background-color: hsl(0, 0%, 8%);
}

main{
    height: 98vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 
}

.card{
    background-color: hsl(0, 0%, 12%);
    display: flex;
    flex-direction: column;
    padding: 2.5rem;
    border-radius: 0.7rem;
}

img{
    object-fit: cover;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    margin:auto;
}

h2{
    color:hsl(0, 0%, 100%);
    margin:1.8rem 0 0.3rem 0;
    text-align: center;
    background-color: hsl(0, 0%, 12%);
}

.location{
    text-align: center;
    color: hsl(75, 94%, 57%);
    margin: 0.2rem 0 1.5rem 0;
    background-color: hsl(0, 0%, 12%);
    font-size: 0.8rem;
}

p{
    text-align: center;
    color:hsl(0, 0%, 100%);
    margin:0.5rem 0 0.7rem 0;
    font-size: 0.8rem;
    font-weight: 600;
    background-color: hsl(0, 0%, 12%);
}

button{
    color:hsl(0, 0%, 100%);
    background-color: hsl(0, 0%, 20%);
    padding:0.8rem 5.5rem ;
    margin: 0.5rem 0;
    border: none;
    border-radius: 0.5rem;
    display: block;
}

.attribution{
    color:hsl(0, 0%, 100%);
    font-size: 1rem;
}